<% include ../partials/header.ejs %>

<div class="container">
    <div class="row text-center">
        <% posts.forEach(function (post) { %>
            <div>
                <div class="thumbnail">
                    <h4><%= post.name %></h4>
                    <img src="<%= post.image %>">
                    <span><%= post.created.toDateString() %></span>
                    <p><%= post.description %></p>
                    <p>
                        <a href="/posts/<%= post._id %>" class="btn btn-primary">Read More</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<% include ../partials/footer.ejs %>