<% include ../partials/header.ejs %>

<h2><%= post.name %></h2>

<img src="<%= post.image %>">

<p><%= post.description %></p>

<p>
    <a class="btn btn-success" href="/posts/<%= post._id %>/comments/new">Add New Comment</a>
</p>

<% post.comments.forEach(function (comment) { %>
    <div class="row">
        <div class="col-md-12">
            <strong><%= comment.author.username %></strong>
            <span class="pull-right">10 days ago</span>
            <p>
                <%= comment.text %>
            </p>
        </div>
    </div>
<% }); %>

<% include ../partials/footer.ejs %>